{% extends "base.html" %}

{% block title_head %}
<title>Crear producto</title>
{% endblock title_head %}

{% block h1_header %}
Crear producto
{% endblock h1_header %}

{% block main %}
 
<h3>Crear Mangas</h3>
<form action="" method='POST'>
    {% csrf_token %}
    {{formulario_mangas}}
    <input type="submit" value="Crear">
</form>
<br/>
<h3>Crear Maquillaje</h3>
<form action="" method='POST'>
    {% csrf_token %}
    {{formulario_maquillaje}}
    <input type="submit" value="Crear">
</form>
<br/>
<h3>Crear comida</h3>
<form action="" method='POST'>
    {% csrf_token %}
    {{formulario_comida}}
    <input type="submit" value="Crear">
</form>

{% endblock main %}