{% extends "base.html" %}

{% block title_head %}
<title>Productos</title>
{% endblock title_head %}

{% block h1_header %}
Productos
{% endblock h1_header %}

{% block main %}
    <h3>Buscar Mangas</h3>
    <form method="GET" action="">
        {{ busqueda }}
        <input type="submit" value="Buscar">
    </form>

    {% if listado_de_mangas %}
        <h2>Listado de mangas</h2>
        <ul>
            {% for manga in listado_de_mangas %}
                <li>{{ manga }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron mangas.</p>
    {% endif %}

    {% if listado_de_maquillaje %}
        <h2>Listado de maquillaje</h2>
        <ul>
            {% for maquillaje in listado_de_maquillaje %}
                <li>{{ maquillaje }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontro maquillaje.</p>
    {% endif %}

    {% if listado_de_comida %}
    <h2>Listado de maquillaje</h2>
    <ul>
        {% for comida in listado_de_comida %}
            <li>{{ comida }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontro comida.</p>
{% endif %}
    
{% endblock main %}